services:
  clickhouse:
    image: clickhouse/clickhouse-server:latest
    container_name: clickhouse-demo
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_USER: demo
      CLICKHOUSE_PASSWORD: demo
      CLICKHOUSE_DB: demo
    volumes:
      - ch_data:/var/lib/clickhouse
    ulimits:
      nofile:
        soft: 262144
        hard: 262144

  postgres:
    image: postgres:16
    container_name: postgres-demo
    environment:
      POSTGRES_DB: demo
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  ch_data:
  pg_data:
